@charset "utf-8";


/* basics
---------------------------------------- */

*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
  letter-spacing: 0.02em;
  color: #212127;
  font-family: sans-serif;
}

html {
  touch-action: manipulation;
  overflow: hidden;
  background-color: #F9F9FB;
}

body {
  user-select: none;
  -webkit-user-select: none;
}



/* comments
---------------------------------------- */

#list-comments {
  width: 255px;
  height: 100vh;
  height: 100dvh;
  background-color: #FFFFFF;
  overflow-y: scroll;
  border-right: 1px solid #CCCCCC;
}

.comments-header {
  position: sticky;
  top: 0;
  z-index: 200;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding: 20px;
}

.comment-wrapper {
  padding: 20px;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
}

.comment-wrapper:nth-child(2) {
  margin-top: 20px;
  border-top: 1px solid #CCCCCC;
}

.comment-wrapper:hover {
  background-color: #F9F9FB;
}

.edit {
  display: none;
  cursor: pointer;
}

.comment-wrapper:hover .edit {
  display: block;
  position: absolute;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  /* width: 40px; */
  right: 5px;
  top: -10px;
  z-index: 100;
  font-size: 14px;
  line-height: 1;
}

/* .comment-wrapper:nth-child(2) .edit {
  top: 10px;
} */

.comment-wrapper:hover .edit:hover {
  background-color: #F9F9FB;
}


.comment-sender {
  padding-left: 23px;
  position: relative;
  font-size: 14px;
  line-height: 1;
}

.comment-sender::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
  position: absolute;
  left: 0;
  top: -2px;
}

.comment-time-sent {
  margin-top: 10px;
  font-size: 12px;
  color: #CCCCCC;
}

.comment-content p {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 10px;
}

/* .comment-content p:first-child {
  margin-top: 0;
} */

@media screen and (max-width:385px) {
  #list-comments {
    width: 100%;
    border: none;
  }
}

/* buttons
---------------------------------------- */
.buttons-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  z-index: 300;
}

.button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  display: block;
}

.button:hover {
  background-color: #EEEEEE;
}

@media screen and (max-width:385px) {
  .button {
    border: 1px solid #EEEEEE;
  }
}

/* tooltip
---------------------------------------- */
/* ツールチップ全体の設定 */
.tooltip::before,
.tooltip::after {
  position: absolute;
  display: none;
}

/* 吹き出しのひげ部分 */
.tooltip::before {
  content: "";
  border: 5px solid transparent;
  border-bottom-color: #000;
  bottom: -10px;
  right: 15px;
}

/* 吹き出しの本体 */
.tooltip::after {
  content: attr(data-tooltip);
  /* min-width: 100px; */
  width: auto;
  padding: 7px 13px;
  background: #000;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  color: #fff;
  bottom: -42px;
  right: 0;
}

.tooltip:hover::before,
.tooltip:hover::after {
  display: block;
}


/* toast
---------------------------------------- */

#toast-layer {
  width: 100%;
  position: absolute;
  z-index: 400;
  top: -50px;
  right: 0;
  transition: top ease-out 0.3s;
  text-align: center;
}

#toast-layer[data-isShown="yes"] {
  top: 15px;
}


#toast-layer p {
  display: inline-block;
  width: auto;
  margin: 0 atuo;
  background-color: #212127;
  padding: 12px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1;
}
